/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
dbnya/
1.dbnya/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
catatan_tabel_db.text
catatan_tabel_db
